.default-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.default-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
}

.black-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.black-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.blue-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.blue-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.gray-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.gray-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.green-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.green-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.orange-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.orange-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.pink-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.pink-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.purple-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.purple-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.red-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.red-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.silver-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.silver-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}

.yellow-button {
    -fx-background-color: #f1f1f1;
    -fx-font-family: Roboto;
    -fx-font-size: 16;
    -fx-text-fill: #012d5a;
    -fx-border-color: #012d5a;
    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.yellow-button:hover {
    -fx-background-color: #012d5a;
    -fx-text-fill: #f1f1f1;
    -fx-border-color: #f1f1f1;
}