.mfx-button {
    -fx-background-color: #012d5a;
    -fx-font-family: Roboto;
    -fx-font-size: 20;
    -fx-color: #f1f1f1;
}

.mfx-button:hover {
    -fx-background-color: #f1f1f1;
    -fx-color: #012d5a
}
